body {
    background-color: #2a2029;
    overflow-x: hidden;
}

img {
    filter: invert(100%);
    width: 150px;
    height: auto;
    display:block;
    margin:auto;
}

.center {
    width: 800px;
    height: 420px;
    margin: auto;
    margin-top: 160px;
    background-color: white;
    box-shadow: 0px 0px 52px 13px rgba(0,0,0,0.75);
}


.centerIndex {
    width: 500px;
    margin: auto;
    margin-top: 160px;
    padding:20px;
    background-color: white;
    box-shadow: 0px 0px 52px 13px rgba(0,0,0,0.75);
}

.centerIndex h2 {
    font-family: Calibri;
    text-align: center;
    font-size: 40px;
    width: 200px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.centerIndex input[type="button"] {
    width: 292px;
    height: 92px;
    background-color: #2a2029;
    color: white;
    border: 4px solid #2a2029;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
    margin: auto;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.centerIndex input[type="button"]:focus{
    outline:none;
}

.centerIndex input[type="button"]:hover {
    border: 4px solid #2a2029;
    background-color:white;
    color: #2a2029;
    transition:0.2s;
}


.left {
    width: 49.3%;
    float: left;
    text-align: center;
    font-family: Calibri;
    margin-top: 90px;
}

.left h2 {
    margin: 0;
    font-size: 40px;
    margin-bottom: 30px;
}

.left input[type="text"] {
    width: 80%;
    height: 25px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #2a2029;
    padding: 2px;
}

.left input[type="text"]::placeholder {
    color: #2a2029;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 10px;
}

.left input[type="text"]:focus {
    outline: none;
}

.left input[type="password"] {
    width: 80%;
    height: 25px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #2a2029;
    padding: 2px;
}

.left input[type="password"]::placeholder {
    color: #2a2029;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 10px;
}

.left input[type="password"]:focus {
    outline: none;
}

.left input[type="button"] {
    width: 40%;
    height: 40px;
    border: none;
    color: white;
    font-weight: 800;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #2a2029;
    border: 2px solid #2a2029;
    border-radius: 50px;
    transition: 0.2s;
}

.left input[type="button"]:hover {
    background-color: white;
    border: 2px solid #2a2029;
    color: #2a2029;
    transition: 0.2s;
}

.right {
    width: 49.3%;
    float: left;
    text-align: center;
    margin-top: 30px;
    font-family: Calibri;
    border-left: 1px solid #2a2029;
}

.right h2 {
    margin: 0;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.right input[type="text"] {
    width: 80%;
    height: 25px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #2a2029;
    padding: 2px;
}

.right input[type="text"]::placeholder {
    color: #2a2029;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 10px;
}

.right input[type="text"]:focus {
    outline: none;
}

.right input[type="password"] {
    width: 80%;
    height: 25px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #2a2029;
    padding: 2px;
}

.right input[type="password"]::placeholder {
    color: #2a2029;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 10px;
}

.right input[type="password"]:focus {
    outline: none;
}

.right input[type="button"] {
    width: 40%;
    height: 40px;
    border: none;
    color: white;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    background-color: #2a2029;
    border: 2px solid #2a2029;
    border-radius: 50px;
    transition: 0.2s;
}

.right input[type="button"]:hover {
    background-color: white;
    border: 2px solid #2a2029;
    color: #2a2029;
    transition: 0.2s;
}

.statsContainer {
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.statsTitles {
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #c70cb5;
}

.stats {
    background-color: white;
    width: 480px;
    padding: 20px;
    z-index: 1;
    position: relative;
    margin: auto;
    margin-top: 150px;
    border-bottom: 3px solid #c70cb5;
    box-shadow: 0px 0px 52px 13px rgba(0,0,0,0.75);
    font-family: Calibri;
    font-size:20px;
}

 .stats a {
     float: right;
     letter-spacing: 0;
     font-size: 25px;
     margin-top: -20px;
     margin-right: -20px;
     font-family: monospace;
     font-weight: 800;
     padding: 3px 14px 7px 12px;
     user-select: none;
     transition: 0.2s;
     cursor:pointer;
 }

 .stats a:hover{
     background-color:red;
     color:white;
     transition:0.2s;
 }

.gameInterface {
    width: 600px;
    height: 507px;
    margin: auto;
    background-color: white;
    padding: 2px;
    margin-top: 100px;
    box-shadow: 0px 0px 52px 13px rgba(0,0,0,0.75);
}

.gameInterface input[type="button"] {
    width: 165px;
    height: 165px;
    display: block;
    margin: 2px;
    background-color: #2a2029;
    border: none;
    color: transparent;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    margin-bottom: 4px;
}

.gameInterface input[type="button"]:hover {
    background-color: #5a3d58;
    transition: 0.2s;
}

.gameInterface-left {
    width: 385px;
    float: right;
    font-size: 20px;
    font-weight: 600;
    font-family: Calibri;
    padding:20px;
}

.gameInterface-left p {
    float: left;
    display: block;
    width: 125px;
}

#user{
    text-decoration:underline;
    text-decoration-color: #efb300;
}

#score{
    text-align:center;
}

#enemy{
    text-align:right;
}

#sasso{
    background-image:url("Resources/rock.png");
    background-repeat:no-repeat;
    background-position:0px 0px;
    background-size: cover;
}

#carta {
    background-image: url("Resources/paper.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
}

#forbici {
    background-image: url("Resources/scissors.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
}

#status {
    color: #0089ff;
    text-align: center;
    font-family: calibri;
    font-size: 20px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 1px;
    height:24px;
}

#gameStatus{
    width:100%;
    text-align:center;
    margin-top:150px;
}