<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceGameSoap1" />
                <binding name="ServiceGameSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63648/ServiceGame.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceGameSoap1" contract="ServiceReference1.ServiceGameSoap"
                name="ServiceGameSoap1" />
            <endpoint address="http://localhost:63648/ServiceGame.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceGameSoap" contract="ServiceReferenceGame.ServiceGameSoap"
                name="ServiceGameSoap" />
        </client>
    </system.serviceModel>
</configuration>